@model CatalogModel
<style>
    .card-img-top{border-radius:0; height:120px}
</style>
<div class="card rounded-0 border-0 mb-3">
    <img src="@Model.Cover" class="card-img-top" alt="@Model.Title">
    <div class="card-body">
        <div class="d-flex">
            <div class="flex-grow-1 bd-highlight"><a href="@Url.Action("List", "Catalog", new { id = Model.Id})" title="@Model.Title"><strong class="card-title">@Model.Title</strong></a></div>
            <div class="bd-highlight">主题 - @Model.TopicCount</div>
        </div>
        <p class="card-text"><small>@Model.Description</small></p>
    </div>
</div>

